body {
  font-family: 'Roboto', sans-serif;
}
*:focus {
  outline: 0;
}
table {
  width: 100%;
  border-spacing: 0;
}
table tbody tr:nth-child(odd) {
  background-color: #eee;
}
table td {
  padding: 10px;
}
table td.rule {
  width: 50px;
  text-align: center;
}
table td.rule.code-1 {
  background-color: orange;
}
table td.rule.code-2 {
  background-color: #d40000;
  border: 1px solid #eee;
  color: #eee;
}
.header table {
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.header table .icon-container {
  cursor: pointer;
  position: relative;
}
.header table .icon-container .edit {
  cursor: pointer;
  position: absolute;
  bottom: -11px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #777;
}
.header table .disabled-configs {
  text-align: right;
}
.header table .disabled-configs div {
  display: inline-block;
  width: 60px;
  text-align: center;
  opacity: 0.4;
  cursor: pointer;
}
.header table .disabled-configs div:hover {
  opacity: 1;
}
.header.sticky table {
  box-shadow: 0px 0px 8px 2px #ccc;
}
.modal-outer {
  max-width: 1000px;
  width: 90%;
  background: #fff;
  border: 1px solid #333;
  border-radius: 10px;
  margin: 50px auto;
  height: calc(100% - 100px);
  box-sizing: border-box;
}
.modal-outer .modal-inner {
  height: 100%;
  position: relative;
}
.modal-outer .modal-inner .header {
  font-size: 12px;
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.modal-outer .modal-inner .header code {
  background: #eee;
  padding: 10px;
  display: block;
  margin: 10px 0;
}
.modal-outer .modal-inner textarea {
  border-radius: 10px;
  border: 0;
  width: 100%;
  height: calc(100% - 150px);
  box-sizing: border-box;
  padding: 10px;
  margin-top: 5px;
}
.modal-outer .modal-inner .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #eee;
  border-top: 1px solid #ccc;
  box-sizing: border-box;
}
.modal-outer .modal-inner .footer .editor-invalid {
  margin-left: 5px;
}
.modal-outer .modal-inner .footer button {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
}
